.register-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  background: #5555;
  border-radius: 30px;
  padding: 20px 20px 20px 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.inputs-register {
  border-radius: 20px;
  height: 30px;
  border: none;
  margin: 8px 8px 2px 8px;
  width: 90%;
  padding-left: 10px;
  background-color: #d9d9d955;
  color: #fff;
}

.inputs-register::placeholder{
  color: #ffffff55;
}

.inputs-register:focus{
  outline: none
}

.input-error{
  border: 1.5px solid #9D2045;
}

.text-error{
  font-family: 'arial', cursive;
  font-size: 15px;
  color: #9D2045;
}

.button-group{
  display: flex;
  margin: 8px 8px 2px 8px;
  width: 90%;
}

.button-register {
  color: #c95a3e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  flex: 1;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-back {
  color: #c95a3e;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  justify-content: right;
  flex: 1;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 900px) {
  .register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
  }

  .section-logo-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding-bottom: 50px;
    margin-right: 100px;
  }

  .button-group{
    width: 100%;
  }

  .button-register {
    margin-right: 10px;
  }
  
  .button-back {
    margin-left: 10px;
  }

  .input-error{
    border: 1px solid #9D2045;
  }

}
